.several-main {
    flex-direction: column !important;
    align-items: center !important;
    margin-top: 0 !important;
    padding:0 0 !important;
    margin: 0 0 !important;
}
.description {
    width: 100%;
    margin-top: 1rem;
    text-align: center;
}
.description h1 {
    display: block;
    margin: 0 auto;
}
.description p {
    text-align:center;
}
.form {
    border-radius: 10px !important;
    margin-top: 1.5rem;
}