body{
    padding:0;
    margin:0;
    box-sizing: border-box;
    background-color: #8E2DE2;
    background-color: -webkit-linear-gradient(45deg, #4A00E0, #8E2DE2); 
    background-color: linear-gradient(45deg, #4A00E0, #8E2DE2);
    background-repeat: no-repeat;
}
ul li{
    color:#fff;
}
a {
    text-decoration: none;
    color:#fff;
}
/* Header */
nav {
    height: 50px;
    background: #444;
    display: flex;
    justify-content: space-between;
    padding:1rem 2rem;
    font-family:Arial, Helvetica, sans-serif
}
.menu {
    height: 30px;
    position: relative;
    top:20px;
    visibility: hidden;
    cursor: pointer;
}
.menu  div {
    height: 30px;
    border:1px solid #444;
    cursor: pointer;
}
.menu .menu-border p {
    width: 50px;
    height: 2px;
    background:#fff;
    /* transition: .3s; */
}
.menu .menu-border p:first-child {
    position: relative;
    bottom: 3px;
}
.menu .menu-border p:not(:first-child) {
    position: relative;
    bottom: 30px;
}
.nav-item {
    position: relative;
    top: 8px;
}
.nav-item ul{
    list-style: none;
    display: flex;
}
.nav-item ul li {
    font-size: 1.1em;
}
.nav-item ul li:not(:last-child) {
    margin-right: 1.5rem;
}
.active-humberger p{
    transition: .3s;
}
.active-humberger p:last-child {
    display:none;
}
.active-humberger p:first-child {
    transform:rotate(45deg);
}
.active-humberger p:nth-child(2){
    position:relative;
    top:-22px;
    transform:rotate(-40deg);
}
.transitoin-menu-items ul li{
    opacity:0;
    animation: menu-items-opacity 1s forwards;
}
@keyframes menu-items-opacity {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
.menu-items {
    display: flex;
    line-height: 3;
    background:#000;
    visibility: hidden;
    position: absolute;
}

.menu-items ul{
    list-style:none;
}
.menu-items ul li {
    width: auto;
    border-bottom : 1px solid #fff;
}
/* MAIN */
main {
    position:absolute;
    width: 100%;
    height: 100%;
}
.several-main {
    display: flex;
    justify-content: space-between;
    margin-top: 8rem;
    padding:0 5rem;
    margin:8rem 2rem;
}
.description h1 {
    color:white;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 200;
    margin-bottom: 2rem;
    width: 70%;
}
.description p {
    color:ghostwhite;
    font-size: 18px;
    line-height: 2;
    margin-bottom: 2rem;
}
.description button {
    width: 20rem;
    height: 3rem;
    border-radius: 25px;
    outline:none;
    border:none;
    background:rgb(27, 214, 27);
    box-shadow:0 0 15px rgb(133, 235, 133)
}
.form {
    width: 40%;
    border-radius:25px;
    display: flex;
    flex-direction:column;
    background:#fff;
}
.form h1{
    text-align:center;
    font-size: 30px;
    font-weight: 100;
}
.form input {
    width: 70%;
    display: block;
    margin:1rem auto;
    border:none;
    outline:none;
    border-bottom: 1px solid grey;;
}
.form button {
    display:block;
    margin: 1rem auto;
    width: 30%;
    height: 2rem;
    border-radius: 25px;
    border:none;
    outline:none;
    background:rgb(26,73,126);
    box-shadow: 0 0 15px rgb(53, 104, 162);
}